IMAGE_NAME = "hk_image_1"
API_KEY = ""#Add your hugging face token
API_BASE_URL = "https://router.huggingface.co/v1"
MODEL_NAME = "Qwen/Qwen2.5-72B-Instruct"
MY_ENV_V4_TASK = "echo"
MY_ENV_V4_BENCHMARK = "team_hackathon"